@tailwind base;

@layer base {
  :root {
    /* dynamic */
    --color-bg-primary: 244 245 239;
    --color-bg-primary-inverted: 40 38 36;
    --color-bg-accent: 255 255 255;
    --color-bg-accent-inverted: 66 66 66;
    --color-line: 130 130 130;
    --color-line-disabled: 130 130 130 / 0.5;
    --color-text-primary: 40 38 36;
    --color-text-primary-inverted: 255 255 255;
    --color-backdrop: 40 38 36 / 0.4;
    --color-accent-primary-dimmed: 255 87 34 / 0.3;
    --color-accent-secondary-dimmed: 255 152 0 / 0.3;
    /* static */
    --color-accent-primary: 255 87 34;
    --color-accent-secondary: 255 152 0;
    --color-icon-primary: 255 255 255;
    --color-line-accent: 255 87 34;
    --color-line-accent-disabled: 255 87 34 / 0.5;
  }

  :root[class~='dark'] {
    /* dynamic */
    --color-bg-primary: 40 38 36;
    --color-bg-primary-inverted: 244 245 239;
    --color-bg-accent: 66 66 66;
    --color-bg-accent-inverted: 255 255 255;
    --color-line: 130 130 130;
    --color-line-disabled: 208 201 201 / 0.5;
    --color-text-primary: 255 255 255;
    --color-text-primary-inverted: 40 38 36;
    --color-backdrop: 0 0 0 / 0.4;
    --color-accent-primary-dimmed: 255 87 34 / 0.8;
    --color-accent-secondary-dimmed: 255 152 0 / 0.8;
  }
}
